{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}"/>
{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<form role="form" id="blog-post-form" class="blog-post-form" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Title">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					<input type="text" class="form-control" name="tag" autocomplete="off" id="tag" placeholder="Tag(s) - Seperate multiple tags with comma">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<textarea class="form-control textarea" rows="3" name="content" id="content" placeholder="Write your post..."></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button id='submitBtn' type="submit" class="btn main-btn pull-right">Blabber it!</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script src="{{ url_for('static', filename='js/write.js') }}"></script>
{% endblock %}